

<div class="main">
  <div class="header">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8"><span class="title">Cash Register</span></div>
      <div class="col-2">
        <div class="cart_icon">
          <mat-icon aria-hidden="false" aria-label="Cart" fontIcon="shopping_cart"></mat-icon>

          <div class="cart">
            <app-panier></app-panier>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="boutique">

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="div_filters col-3">
          <h5>Filtres</h5>

          <div>
            <p>Par nom</p>
            <input type="text" [(ngModel)]="filter_searchbar_value" (ngModelChange)="displayProducts()">
          </div>


          <div>
            <p>Par catégorie</p>
            <div class="form-check" *ngFor="let categorie of tab_categories; let i=index;">
              <input class="form-check-input" type="checkbox" value="" id="categorie_{{i}}" (change)="filterCategories(categorie)">
              <label class="form-check-label" for="categorie_{{i}}">
                {{ categorie.name }}
              </label>
            </div>
          </div>
        </div>




        <div class="div_products col-9">
          <h5>Produits</h5>

          <div class="row">
            <div class="col-4 around_products_card" *ngFor="let product of tab_products_displayed">
              <div class="card">
                <img class="card-img-top product_image" [src]="product.image">
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text product_price">{{ product.price }} €</p>
                  <div class="div_add_to_cart">
                    <button type="button" class="btn btn-outline-primary" (click)="addToCart(product)">Ajouter au panier</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<ngb-toast
*ngFor="let toast of _toastsService.toasts"
[class]="toast.classname"
[autohide]="true"
[delay]="toast.delay || 5000"
(hidden)="_toastsService.remove(toast)"
>
<ng-template [ngIf]="isTemplate(toast)" [ngIfElse]="text">
  <ng-template [ngTemplateOutlet]="toast.textOrTpl"></ng-template>
</ng-template>

<ng-template #text>{{ toast.textOrTpl }}</ng-template>
</ngb-toast>