

<div class="main">
  <div class="header">
    <p>Cash Register</p>
  </div>

  <div class="boutique">

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="div_filters col-3">
          <h5>Filtres</h5>

          <div>
            <p>Par nom</p>
            <input type="text" [(ngModel)]="filter_searchbar_value" (ngModelChange)="displayProducts()">
          </div>


          <div>
            <p>Par catégorie</p>
            <div class="form-check" *ngFor="let categorie of tab_categories; let i=index;">
              <input class="form-check-input" type="checkbox" value="" id="categorie_{{i}}" (change)="filterCategories(categorie)">
              <label class="form-check-label" for="categorie_{{i}}">
                {{ categorie.name }}
              </label>
            </div>
          </div>
        </div>




        <div class="div_products col-9">
          <h5>Produits</h5>

          <div class="row">
            <div class="col-4 around_products_card" *ngFor="let product of tab_products_displayed">
              <div class="card">
                <img class="card-img-top" [src]="product.image">
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">{{ product.price }} €</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>