

div.main{

    div.header{
    
        display: flex;
        justify-content: center;
    }
    
    
    div.boutique{
        margin: 3em 5em;

        h5{
            text-align: center;
        }
    }
}
