

div.cart{
    padding: 1em;

    ul{
        li.article_item{
            display: flex;
            justify-content: space-between;
            border: none;
            border-bottom: 1px solid grey;
            border-radius: 0;

            div{
                display: flex;
                align-items: center;
            }

            div.product_name{
                font-weight: 500;
                padding-right: 0.5em;
            }

            div.product_quantity{
                font-size: 0.9em;
            }

            div.product_price{
                border-left: 1px solid black;
                margin-left: 1em;
                padding-left: 1em;
            }
        }

        li.cart_total{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            border: none;
            border-bottom: 1px solid grey;
            border-radius: 0;

            div.price_total{
                font-size: 1.3em;
                font-weight: 600;
            }
        }
    }

    div.btn_valid_cart{
        margin-top: 1em;
    }
}