

<div class="cart">
    <h5>Panier</h5>

    <div *ngIf="this._paniersService.panier.length == 0">
        <p>Votre panier est vide</p>
    </div>

    <div *ngIf="this._paniersService.panier.length > 0">
        <ul class="list-group list-group-light">
            <li class="list-group-item article_item" *ngFor="let article of this._paniersService.panier">
                <div>
                    <span class="product_name">{{ article.product.name }} </span> <span class="product_quantity"> x{{ article.quantite }}</span>
                </div>
                <div class="product_price">
                    {{ (article.product.price * article.quantite) | currency: 'EUR':'symbol':undefined:'fr-FR' }}
                </div>
            </li>

            <li class="list-group-item cart_total">
                <div>
                    Article(s) : {{ getTotalProducts() }}
                </div>
                <div class="price_total">
                    Total : {{ getTotalPrice() | currency: 'EUR':'symbol':undefined:'fr-FR' }}
                </div>
            </li>
          </ul>

          <div class="btn_valid_cart">
            <button type="button" class="btn btn-primary" (click)="validateCart()">Payer</button>
          </div>
    </div>
</div>
