

div.cart{
    padding: 1em;

    ul{
        li.article_item{
            display: flex;
            justify-content: space-between;
            border: none;
            border-bottom: 1px solid grey;
            border-radius: 0;

            span.product_name{
                font-weight: 500;
            }

            span.product_quantity{
                font-size: 0.9em;
            }

            div.separator{
                padding: 0 0.5em;
            }
        }
    }
}